<%= form_with model: @session, url: new_session_path  do |form| %>

	<%= select_date Date.today, prefix: :start_date %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
