<%= form_with model: @sessions, url: sessions_path  do |form| %>

	<%# <%= select_date Date.today, prefix: :start_date %>

	<%# <%= time_select :object_name, :attribute_name, :default => {:hour => "10", :minute => "20"} %>

  <%# <%= datetime_select("article", "written_on") %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :start_date %>
    <%= form.datetime_field :start_date %>
  </p>

  <p>
    <%= form.label :price_table %>
    <br/>
    <%= form.collection_select :price_table_id, @price_tables, :id, :price_point %>
  </p>

  <%= form.submit "Create Session" %>
<% end %>
