<!DOCTYPE html>
<html>
  <head>
    <title>Tribal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag    'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="https://js.stripe.com/v3/"></script>
    <script src="http://cdn.agora.io/sdk/web/AgoraRTCSDK-2.5.0.js"></script>
		<%= javascript_pack_tag 'main-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
